In [1]:
%config IPCompleter.greedy=True

In [51]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
import matplotlib as plt
from sklearn.datasets import make_blobs
#from tensorflow import keras

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [32]:
# What variable(s) are considered the target for your model?
y_var = charity_df.IS_SUCCESSFUL
y_var

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [5]:
# What variable(s) are considered to be the features and what variable are neither for your model?
X = charity_df.drop(columns=['IS_SUCCESSFUL', 'EIN', 'NAME'])
X

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [27]:
# Using the methods described in this module, preprocess all numerical and categorical variables, as needed:
string_dtypes = X.dtypes[X.dtypes == "object"].index.tolist()
X[string_dtypes].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION             4
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [7]:
class_count = X.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2500        1
C2190        1
C1732        1
C1900        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Determine which values to replace
replace_class = list(class_count[class_count < 4000].index)

# Replace in DataFrame
for classification in replace_class:
    X.CLASSIFICATION = X.CLASSIFICATION.replace(classification,"Other")


# Check to make sure binning was successful
X.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [28]:
# Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(X[string_dtypes]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(string_dtypes)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
# Merge the two DataFrames together
charity_relevent_df = pd.merge(X, encode_df, left_index=True, right_index=True).drop(string_dtypes, 1)
charity_relevent_df.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
# Split our preprocessed data into our features and target arrays
y = y_var
X = charity_relevent_df

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [35]:
# Standardize numerical variables using TensorFlow’s StandardScaler class
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [52]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.467

In [67]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train.values, epochs=100,#callbacks=[cp_callback]
                  )
# Check the structure of the model
nn.summary()

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 6s 230us/sample - loss: 0.6223 - accuracy: 0.6734
Epoch 2/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5680 - accuracy: 0.7219
Epoch 3/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5628 - accuracy: 0.7230s - loss: 0.5627 - accu
Epoch 4/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5606 - accuracy: 0.7252
Epoch 5/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5591 - accuracy: 0.7259
Epoch 6/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5579 - accuracy: 0.7269
Epoch 7/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5570 - accuracy: 0.7271
Epoch 8/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5564 - accuracy: 0.7278
Epoch 9/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5558 - accuracy: 0.7273
Epoch 10/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5558 - accuracy: 0.7287
Epoch 11/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5551 - accuracy: 0.7275
Epoch 12/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5549 - accuracy: 0.7275
Epoch 13/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5545 - accuracy: 0.7276
Epoch 14/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5544 - accuracy: 0.7278
Epoch 15/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5542 - accuracy: 0.7286
Epoch 16/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5539 - accuracy: 0.7292
Epoch 17/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5537 - accuracy: 0.7285
Epoch 18/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5535 - accuracy: 0.7297
Epoch 19/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5536 - accuracy: 0.7296
Epoch 20/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5528 - accuracy: 0.7291
Epoch 21/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5530 - accuracy: 0.7306s - loss: 0.5
Epoch 22/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5527 - accuracy: 0.7301
Epoch 23/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5528 - accuracy: 0.7306
Epoch 24/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5526 - accuracy: 0.7307
Epoch 25/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5527 - accuracy: 0.7303 - loss: 0.5520 - ac - ETA: 0s - loss: 0.5515 - accu
Epoch 26/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5524 - accuracy: 0.7310
Epoch 27/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5522 - accuracy: 0.7303
Epoch 28/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5523 - accuracy: 0.7300
Epoch 29/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5521 - accuracy: 0.7304 - loss: 0.5524 - accuracy: 0. - ETA: 0s - loss: 0
Epoch 30/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5522 - accuracy: 0.7307
Epoch 31/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5520 - accuracy: 0.7307
Epoch 32/100
25724/25724 [==============================] - 5s 180us/sample - loss: 0.5520 - accuracy: 0.7306
Epoch 33/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5515 - accuracy: 0.7304
Epoch 34/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5518 - accuracy: 0.7316
Epoch 35/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.5515 - accuracy: 0.7311
Epoch 36/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5518 - accuracy: 0.7310
Epoch 37/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.5515 - accuracy: 0.7317
Epoch 38/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5515 - accuracy: 0.7308
Epoch 39/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5512 - accuracy: 0.7310
Epoch 40/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5510 - accuracy: 0.7311
Epoch 41/100
25724/25724 [==============================] - 4s 163us/sample - loss: 0.5513 - accuracy: 0.7316
Epoch 42/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5511 - accuracy: 0.7310
Epoch 43/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5511 - accuracy: 0.7327
Epoch 44/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5510 - accuracy: 0.7320
Epoch 45/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5508 - accuracy: 0.7320
Epoch 46/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5505 - accuracy: 0.7316
Epoch 47/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5504 - accuracy: 0.7320 - loss: 0.5502 - accuracy: 0.73
Epoch 48/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5511 - accuracy: 0.7309
Epoch 49/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5507 - accuracy: 0.7323
Epoch 50/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5507 - accuracy: 0.7318
Epoch 51/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5507 - accuracy: 0.7326
Epoch 52/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5506 - accuracy: 0.7315
Epoch 53/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5503 - accuracy: 0.7321
Epoch 54/100
25724/25724 [==============================] - 5s 191us/sample - loss: 0.5504 - accuracy: 0.7328
Epoch 55/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.5506 - accuracy: 0.7316
Epoch 56/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.5503 - accuracy: 0.7314
Epoch 57/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5502 - accuracy: 0.7311 -
Epoch 58/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5498 - accuracy: 0.7327
Epoch 59/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5502 - accuracy: 0.7319
Epoch 60/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5499 - accuracy: 0.7320
Epoch 61/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5502 - accuracy: 0.7329
Epoch 62/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5497 - accuracy: 0.7325
Epoch 63/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5500 - accuracy: 0.7329
Epoch 64/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5493 - accuracy: 0.7327
Epoch 65/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5500 - accuracy: 0.7325 - loss: 0.5494 - ac
Epoch 66/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5497 - accuracy: 0.7321
Epoch 67/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5498 - accuracy: 0.7327
Epoch 68/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5499 - accuracy: 0.7333
Epoch 69/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5499 - accuracy: 0.7327
Epoch 70/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5497 - accuracy: 0.7332
Epoch 71/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5495 - accuracy: 0.7329
Epoch 72/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5495 - accuracy: 0.7339 - loss: 0.5496
Epoch 73/100

25724/25724 [==============================] - 3s 111us/sample - loss: 0.5496 - accuracy: 0.7332
Epoch 74/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5495 - accuracy: 0.7331
Epoch 75/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5492 - accuracy: 0.7336
Epoch 76/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5493 - accuracy: 0.7336
Epoch 77/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5493 - accuracy: 0.7327
Epoch 78/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5494 - accuracy: 0.7339
Epoch 79/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5493 - accuracy: 0.7334
Epoch 80/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.5491 - accuracy: 0.7339
Epoch 81/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5493 - accuracy: 0.7331
Epoch 82/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5493 - accuracy: 0.7329
Epoch 83/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5490 - accuracy: 0.7332
Epoch 84/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5492 - accuracy: 0.7343
Epoch 85/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5491 - accuracy: 0.7334
Epoch 86/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5493 - accuracy: 0.7335
Epoch 87/100
25724/25724 [==============================] - 6s 217us/sample - loss: 0.5491 - accuracy: 0.7331
Epoch 88/100
25724/25724 [==============================] - 6s 234us/sample - loss: 0.5492 - accuracy: 0.7334 - l
Epoch 89/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.5487 - accuracy: 0.7339
Epoch 90/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5490 - accuracy: 0.7338
Epoch 91/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5487 - accuracy: 0.7339
Epoch 92/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5490 - accuracy: 0.7336
Epoch 93/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5487 - accuracy: 0.7333
Epoch 94/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5487 - accuracy: 0.7334
Epoch 95/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5490 - accuracy: 0.7335
Epoch 96/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5489 - accuracy: 0.7336
Epoch 97/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5487 - accuracy: 0.7338
Epoch 98/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5489 - accuracy: 0.7336
Epoch 99/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5488 - accuracy: 0.7341
Epoch 100/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5491 - accuracy: 0.7329
Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 8)                 400
_________________________________________________________________
dense_10 (Dense)             (None, 5)                 45
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 6
=================================================================
Total params: 451
Trainable params: 451
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test.values, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5505 - accuracy: 0.7237
Loss: 0.5583582179052836, Accuracy: 0.7237317562103271